<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/7057735af3.js"
      crossorigin="anonymous"
    ></script>
    <title>Mercado Liebre</title>
  </head>
  <body>
    <header class="main-header">
      <div class="main-header-top-bar">
        <img src="/images/logo-mercado-liebre.svg" class="logo" />
        <div class="input">
          <input
            type="text"
            placeholder="Buscar Productos, marcas"
            class="search-input"
          /><i class="fa-solid fa-magnifying-glass" id="magnifying-glass"></i>
        </div>
        <h2 class="copy-header">
          <i class="fa-solid fa-hand-holding-dollar"></i>
          Comprá en cuotas y sin tarjeta de credito
        </h2>
      </div>
      <div class="burguer-menu">
        <i class="fa-solid fa-bars"></i>
      </div>
      <nav class="main-navbar">
        <ul class="left-navbar">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>

        <ul class="right-navbar">
          <li>
            <a href="/register"
              >Creá tu cuenta <i class="fa-solid fa-credit-card"></i
            ></a>
          </li>
          <li>
            <a href="/login"
              >ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i
            ></a>
          </li>
          <li>
            <a href="#"
              >Mis Compras <i class="fa-solid fa-basket-shopping"></i
            ></a>
          </li>
        </ul>
      </nav>
    </header>

    <section>
      <img
        src="/images/img-home-banner.jpg"
        width="100%"
        alt="Banner Ofertas"
      />
    </section>
    <main class="main">
      <h2 id="ultima-visita">Basado en tu última vista</h2>
      <section class="ultima-visita">
        <div class="product-container">
          <article class="product">
            <img
              src="/images/img-cafetera-moulinex.jpg"
              width="90%"
              alt="Cafetera"
            />
            <div class="article">
              <div class="btn-envios">
                <i class="fa-solid fa-truck"></i>
              </div>
              <p class="precio">$6.770</p>
              <p class="descuento">40% off</p>
              <p class="descripcion">Cafetera Moulinex</p>
            </div>
          </article>
        </div>
        <div class="product-container">
          <article class="product">
            <img
              src="/images/img-macbook-pro-2019.jpg"
              width="90%"
              alt="macbook"
            />
            <div class="article">
              <div class="btn-envios">
                <i class="fa-solid fa-truck"></i>
              </div>
              <p class="precio">$230.000</p>
              <p class="descuento">20% off</p>
              <p class="descripcion">MacBook Pro 2019</p>
            </div>
          </article>
        </div>
        <div class="product-container">
          <article class="product">
            <img
              src="/images/img-samsung-galaxy-s10.jpg"
              width="90%"
              alt="Samsung"
            />
            <div class="article">
              <div class="btn-envios">
                <i class="fa-solid fa-truck"></i>
              </div>
              <p class="precio">$70.500</p>
              <p class="descuento">10% off</p>
              <p class="descripcion">Samsung Galaxy S10</p>
            </div>
          </article>
        </div>
        <div class="product-container">
          <article class="product">
            <img src="/images/img-tv-samsung-smart.jpg" width="90%" alt="tv" />
            <div class="article">
              <div class="btn-envios">
                <i class="fa-solid fa-truck"></i>
              </div>
              <p class="precio">$23.200</p>
              <p class="descuento">5% off</p>
              <p class="descripcion">Smart TV Samsung</p>
            </div>
          </article>
        </div>
      </section>
      <h2 id="ofertas">Ofertas</h2>
      <section class="ofertas">
        <div class="product-container">
          <article class="product">
            <img
              src="/images/img-cafetera-moulinex.jpg"
              width="90%"
              alt="Cafetera"
            />
            <div class="article">
              <div class="btn-envios">
                <i class="fa-solid fa-truck"></i>
              </div>
              <p class="precio">$6.770</p>
              <p class="descuento">40% off</p>
              <p class="descripcion">Cafetera Moulinex</p>
            </div>
          </article>
        </div>
        <div class="product-container">
          <article class="product">
            <img
              src="/images/img-macbook-pro-2019.jpg"
              width="90%"
              alt="macbook"
            />
            <div class="article">
              <div class="btn-envios">
                <i class="fa-solid fa-truck"></i>
              </div>
              <p class="precio">$230.000</p>
              <p class="descuento">20% off</p>
              <p class="descripcion">MacBook Pro 2019</p>
            </div>
          </article>
        </div>
        <div class="product-container">
          <article class="product">
            <img
              src="/images/img-samsung-galaxy-s10.jpg"
              width="90%"
              alt="Samsung"
            />
            <div class="article">
              <div class="btn-envios">
                <i class="fa-solid fa-truck"></i>
              </div>
              <p class="precio">$70.500</p>
              <p class="descuento">10% off</p>
              <p class="descripcion">Samsung Galaxy S10</p>
            </div>
          </article>
        </div>
        <div class="product-container">
          <article class="product">
            <img src="/images/img-tv-samsung-smart.jpg" width="90%" alt="tv" />
            <div class="article">
              <div class="btn-envios">
                <i class="fa-solid fa-truck"></i>
              </div>
              <p class="precio">$23.200</p>
              <p class="descuento">5% off</p>
              <p class="descripcion">Smart TV Samsung</p>
            </div>
          </article>
        </div>
      </section>
    </main>

    <footer class="footer">
      <article>
        <i class="fa-solid fa-credit-card fa-2x" id="credit-card"></i>
        <h2>Pagá con tarjeta o en efectivo</h2>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </article>
      <article>
        <i class="fa-solid fa-gift fa-2x"></i>
        <h2>Envío gratis desde $ 2.500</h2>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </article>
      <article>
        <i class="fa-solid fa-user-shield fa-2x"></i>
        <h2>Seguridad, de principio a fin</h2>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </article>
      <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
    </footer>
  </body>
</html>
